
     <div id="game">
      <div id="board">
        <div class="tile">
          <img src="assets/two.png" alt="kanjii radical">
        </div>
        <div class="tile">
          <img src="assets/five.png" alt="kanjii radical">
        </div>
        <div class="tile">
          <img src="assets/seven.png" alt="kanjii radical">
        </div>
        <div class="tile">
          <img src="assets/six.png" alt="kanjii radical">
        </div>

         <div class="tile">
          <img src="assets/four.png" alt="kanjii radical">
        </div>
        <div class="tile">
          <img src="assets/one.png" alt="kanjii radical">
        </div>
        <div class="tile">
          <img src="assets/one.png" alt="kanjii radical">
        </div>
        <div class="tile">
          <img src="assets/two.png" alt="kanjii radical">
        </div>

        <div class="tile">
          <img src="assets/seven.png" alt="kanjii radical">
        </div>
        <div class="tile">
          <img src="assets/six.png" alt="kanjii radical">
        </div>
        <div class="tile">
          <img src="assets/five.png" alt="kanjii radical">
        </div>
        <div class="tile">
          <img src="assets/four.png" alt="kanjii radical">
        </div>
      </div>
  </div>

      <div id="details" class="hidden">
        <span class="image detail"></span>
        <h1>You found a match!</h1>
        <p>Here is more info about this Kanjii Radical<span id="score"></span> clicks.</p>
        <button>next move</button>
      </div>

      <div id="results">
        <span class="image random"></span>
        <h1>Good job!</h1>
        <p>You found all the matches in <span id="score"></span> clicks.</p>
        <button>play again</button>
      </div>
    </div>

